// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2c394b;
  --ion-color-secondary: #334756;
  --ion-color-third: #082032;
  --ion-color-four: #E94560;

}
