$text-color: #ffff;

.welcome-card {
  --background: var(--ion-color-primary) !important;
}

.title {
  color: $text-color;
  font-size: 22px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  .row {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ion-card {
    --background: var(--ion-color-primary) !important;
    ion-card-content {
      width: 150px;
      height: 118px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      ion-icon {
        font-size: 30px;
        color: $text-color;
      }
      p {
        color: $text-color;
        margin-top: 10px;
        text-align: center;
      }
      .balance-display {
        text-align: center;
      }
    }
  }
}

.history-container {
  margin-bottom: 103px;
  ion-card {
    --background: var(--ion-color-primary) !important;
    ion-card-title {
      color: $text-color;
      font-size: 22px;
    }

    .history {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      border-bottom: 1px solid #636363;
      padding-bottom: 15px;

      .detail-type-title {
        color: $text-color;
        font-size: 17px;
        margin-bottom: 3px;
      }

      .subtitle-detail {
        color: #686f79;
        font-size: 12px;
        margin-bottom: 4px;
      }

      .value {
        color: $text-color;
        font-size: 17px;
      }
      .date {
        p {
          color: $text-color;
          font-size: 14px;
        }
      }
    }
  }
}
