<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title class="title">Welcome Alexa</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas
      baseChart
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [colors]="color"
      [options]="option"
    >
    </canvas>
  </ion-card-content>
</ion-card>

<div class="container-cards">
  <div class="row">
    <ion-card class="add-balance" (click)="addBalance()">
      <ion-card-content>
        <ion-icon name="add-outline"></ion-icon>
        <p>Add balace</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="add-budget">
      <ion-card-content>
        <ion-icon name="wallet-outline" (click)="addWithdrawal()"></ion-icon>
        <p>Add your Withdrawal</p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="row">
    <ion-card class="balance" *ngIf="currentBalance">
      <ion-card-content>
        <ion-icon name="card-outline"></ion-icon>
        <p class="balance-display">{{currentBalance}} €<br/> Balance</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="exchange">
      <ion-card-content>
        <ion-icon name="swap-horizontal-outline"></ion-icon>
        <p>Exchange today<br/><span *ngIf="exchangeData">{{exchangeData.rates.RON | number: '1.0-2'}} %</span></p>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div class="history-container" *ngIf="history.length">
  <ion-card>
    <ion-card-header>
      <ion-card-title>History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="history" *ngFor="let singleHistory of getLastTwoHistory()">
        <div class="detail">
          <p class="detail-type-title">{{(singleHistory.description !== undefined) ? "Retired" : "Added"}}</p>
          <p class="subtitle-detail">Total retired</p>
          <p class="value">{{singleHistory.value}} {{singleHistory.currency}}</p>
        </div>
        <div class="date">
          <p>{{singleHistory.createdAt}}</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</div>
